@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&display=swap');

html , body {
  margin: 0px;
  padding: 0px ;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

h1,h2{
  font-family: 'PT Sans Narrow', sans-serif;
}

h3,h4,p {
  font-family: 'PT Sans Narrow', sans-serif;
}

*,::before::after{
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
}
